/* Bronnen
https://cssgradient.io/
*/

/* CSS Document */
*, *::after, *::before {
  box-sizing:border-box;  
}

@font-face {
  font-family: 'pokemon';
  src: url('../fonts/pkmn_rbygsc-webfont.woff2') format('woff2'),
       url('../fonts/pkmn_rbygsc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html, body {
  height:100%;
  margin:0;
}

body {
  background-color: #ffffff;
  background-image: url("../images/eeveeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

section.backgroundBlender{
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .4;
}

h1.bericht {
  left: 50%;
  top: 5%;
  transform: translate(-50%, -5%);
  font-family: pokemon, sans-serif;
  color: #2891c9;
  -webkit-text-stroke: 0.02em #40413C;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 3;
  display: none;
  text-align: center;
  max-width: 70%;
}




/******/
/* DS */
/******/




article {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  position: fixed;
  width: 32em;
  height: 34.6em;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #4f5456;
  border-radius: 3em;
  box-shadow: inset .2em .2em 0.05em #3c4042,
              inset -.2em -.2em 0.05em #6e6e6e;
}




/***************/
/* Bovenscherm */
/***************/





ul.schermBoven{
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 0;
  list-style-type: none;
  width: 100%;
  margin: 2em 5em 1em 5em;
}

ul.schermBoven li{
  box-shadow: inset .4em .4em 0.05em #3c4042,
              inset -.4em -.4em 0.05em #3c4042;
}

ul.schermBoven li.scherm1{
  /* display: none; */
  background-image: url(../images/mainMenuBackground.jpg);
  background-size: cover;
  overflow: hidden;
  height: 94%;
  width: 100%;  
}

ul.schermBoven li.scherm2{
  display: none;
  height: 94%;
  width: 100%;
  background-image: url(../images/backgroundCatchEevee.png);
  background-size: cover;
  background-position: center;
}

ul.schermBoven img {
  width: 10em;
  height: 10em;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

@keyframes pokeballAnimatie {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  20% {
    transform: translate(-50%, -170%) scale(.5);
  }

  40% {
    transform: translate(-50%, -170%) rotate(-30deg) scale(.5);
  }

  60% {
    transform: translate(-50%, -170%) rotate(30deg) scale(.5);
  }

  80% {
    filter: grayscale(0%);
    transform: translate(-50%, -170%) rotate(10deg) scale(.5);
  }

  100% {
    filter: grayscale(80%);
    transform: translate(-50%, -170%) rotate(10deg) scale(.6);
  }
}

@keyframes eeveeCapture {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(0);
  }
}

ul.schermBoven img.pokeball {
  top: 150%;
}

ul.schermBoven img.pokeball.animatieStart {
  animation-name: pokeballAnimatie;
  animation-duration: 9s;
  animation-fill-mode: forwards;
}

ul.schermBoven img.eevee1.animatieStart {
  animation-name: eeveeCapture;
  animation-delay: 1.5s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transform-origin: bottom center;
}




/***********/
/* Devider */
/***********/




section.middenBalk{
  position: absolute;
  background-color: #4f5456;
  box-shadow: inset 0 .6em .6em #79797960,
              inset 0 -.7em .7em #3c4042,
              0.1em 0.1em 0.05em #25252580,
              -0.1em -0.1em 0.05em #25252580;
  top: 50%;
  transform: translatey(-50%);
  width: 100%;
  height: 2.3em;
  border-radius: 0.9em;
  z-index: 2;
}




/***************/
/* Onderscherm */
/***************/





section.schermOnder{
  position: relative;
  margin: 0em 0em 2em 0em;
  flex: 1.8;
  background-color: #dfdfdf;
  background-image: url(../images/eeveeBackgroundTouchscreen.jpg);
  background-position: 30%;
  background-size: cover;
  box-shadow: inset .4em .4em 0.05em #3c4042,
              inset -.4em -.4em 0.05em #3c4042,
              1em 1.6em 0.05em #4f5456,
              -1em -1em 0.05em #4f5456,
              -1em 1.6em 0.05em #4f5456,
              1em -1em 0.05em #4f5456,
              1.2em 1.8em 0.05em #3c4042,
              -1.2em 0em 0.05em #3c4042,
              -1.2em 1.8em 0.05em #3c4042,
              1.2em 0em 0.05em #3c4042;

}

section.schermOnder .menuButtons button{
  position: absolute;
  border: .1em solid #303030;
  box-shadow: inset .1em .1em 0em #fff,
              inset -.1em .1em 0em #fff,
              inset .1em -.1em 0em #fff,
              inset -.1em -.1em 0em #fff,
              inset .15em .15em 0em #434343cc,
              inset -.15em .15em 0em #434343cc,
              inset .15em -.15em 0em #434343cc,
              inset -.15em -.15em 0em #434343cc;
  width: 8em;
  height: 4em;
  cursor: pointer;
  border-radius: 1.5em;
  font-family: pokemon, sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #40413C, -1px -1px 0px #40413C, -1px 1px 0px #40413C, 1px -1px 0px #40413C;
}

section.schermOnder .evolutionStones {
  display: none;
}

section.schermOnder .evolutionStones button {
  position: absolute;
  border: .1em solid #303030;
  box-shadow: inset .1em .1em 0em #fff,
    inset -.1em .1em 0em #fff,
    inset .1em -.1em 0em #fff,
    inset -.1em -.1em 0em #fff,
    inset .15em .15em 0em #434343cc,
    inset -.15em .15em 0em #434343cc,
    inset .15em -.15em 0em #434343cc,
    inset -.15em -.15em 0em #434343cc;
  width: 8em;
  height: 4em;
  cursor: pointer;
  border-radius: 1.5em;
  font-family: pokemon, sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #40413C, -1px -1px 0px #40413C, -1px 1px 0px #40413C, 1px -1px 0px #40413C;
}

section.schermOnder .evolutionStones button.fireStone {
  background: rgb(112, 64, 64);
  background: linear-gradient(0deg, rgba(112, 64, 64, 1) 0%, rgba(129, 48, 48, 1) 39%, rgba(144, 40, 40, 1) 60%, rgba(175, 40, 40, 1) 100%);
  top: 80%;
  left: 15%;
  transform: translate(-15%, -80%);
}

section.schermOnder .evolutionStones button.fireStone:hover, section.schermOnder .evolutionStones button.fireStone:focus{
  border:rgba(175, 40, 40, 1) .2em solid;
  background: #F8A9B1;
  outline: none;
}

section.schermOnder .evolutionStones button.thunderStone {
  background: rgb(139, 103, 54);
  background: linear-gradient(0deg, rgba(139, 103, 54, 1) 0%, rgba(169, 119, 47, 1) 33%, rgba(201, 134, 38, 1) 63%, rgba(225, 152, 40, 1) 100%);
  top: 20%;
  left: 50%;
  transform: translate(-50%, -20%);
}

section.schermOnder .evolutionStones button.thunderStone:hover, section.schermOnder .evolutionStones button.thunderStone:focus{
  border:#e19828 .2em solid;
  background: #ffd28f;
  outline: none;
}

section.schermOnder .evolutionStones button.waterStone {
  background: rgb(65, 88, 112);
  background: linear-gradient(0deg, rgba(65, 88, 112, 1) 0%, rgba(56, 104, 136, 1) 33%, rgba(46, 121, 166, 1) 63%, rgba(40, 145, 201, 1) 100%);
  top: 80%;
  left: 85%;
  transform: translate(-85%, -80%);
}

section.schermOnder .evolutionStones button.waterStone:hover, section.schermOnder .evolutionStones button.waterStone:focus{
  border:#415870 .2em solid;
  background: #84a3c3;
  outline: none;
}

@keyframes evolutionPart1 {
  0% {
    opacity: 1;
  }

  20% {
    opacity: 0.2;
  }

  40% {
    opacity: 1;
  }

  60% {
    opacity: 0.2;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 0.2;
  }
}

@keyframes evolutionPart2 {
  0% {
    opacity: 0.2;
  }

  20% {
    opacity: 1;
  }

  40% {
    opacity: 0.2;
  }

  60% {
    opacity: 1;
  }

  80% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

section.schermOnder .evolutionStones button img {
  width: 100%;
  height: 100%;
}

@keyframes fireStoneToEvolution{
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(70%, -550%);
  }
}

.fireStoneImg.fireStoneActive {
  animation-name: fireStoneToEvolution;
  animation-duration: 2s;
}

@keyframes thunderStoneToEvolution {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(0%, -320%);
  }
}

.thunderStoneImg.thunderStoneActive {
  animation-name: thunderStoneToEvolution;
  animation-duration: 2s;
}

@keyframes waterStoneToEvolution {
  0% {
    transform: translate(0%, 0%);
  }

  100% {
    transform: translate(-70%, -550%);
  }
}

.waterStoneImg.waterStoneActive {
  animation-name: waterStoneToEvolution;
  animation-duration: 2s;
}

.eeveeEvolving.evolveEevee {
  display: block;
  opacity: 0;
  animation-name: evolutionPart1;
  animation-duration: 6s;
  animation-timing-function: linear;
}

/* .scherm2 img:not(.eevee2){
  display: none;
} */

.eeveeEvolving {
  display: none;
}

.flareonEvolving {
  display: none;
}

.jolteonEvolving {
  display: none;
}

.vaporeonEvolving {
  display: none;
}

.espeonEvolving {
  display: none;
}

.umbreonEvolving {
  display: none;
}

.sylveonEvolving {
  display: none;
}

.glaceonEvolving {
  display: none;
}

.leafeonEvolving {
  display: none;
}

.eevee2 {
  display: block;
}

.flareon {
  display: none;
}

.jolteon {
  display: none;
}

.vaporeon {
  display: none;
}

.espeon {
  display: none;
}

.umbreon {
  display: none;
}

.sylveon {
  display: none;
}

.glaceon {
  display: none;
}

.leafeon {
  display: none;
}

.flareonEvolving.toFlareon {
  display: block;
  opacity: 0;
  animation-name: evolutionPart2;
  animation-duration: 6s;
  animation-timing-function: linear;
}

.jolteonEvolving.toJolteon {
  display: block;
  opacity: 0;
  animation-name: evolutionPart2;
  animation-duration: 6s;
  animation-timing-function: linear;
}

.vaporeonEvolving.toVaporeon {
  display: block;
  opacity: 0;
  animation-name: evolutionPart2;
  animation-duration: 6s;
  animation-timing-function: linear;
}

.espeonEvolving.toEspeon {
  display: block;
  opacity: 0;
  animation-name: evolutionPart2;
  animation-duration: 6s;
  animation-timing-function: linear;
}

.umbreonEvolving.toUmbreon {
  display: block;
  opacity: 0;
  animation-name: evolutionPart2;
  animation-duration: 6s;
  animation-timing-function: linear;
}

.sylveonEvolving.toSylveon {
  display: block;
  opacity: 0;
  animation-name: evolutionPart2;
  animation-duration: 6s;
  animation-timing-function: linear;
}

.glaceonEvolving.toGlaceon {
  display: block;
  opacity: 0;
  animation-name: evolutionPart2;
  animation-duration: 6s;
  animation-timing-function: linear;
}

.leafeonEvolving.toLeafeon {
  display: block;
  opacity: 0;
  animation-name: evolutionPart2;
  animation-duration: 6s;
  animation-timing-function: linear;
}

section.schermOnder .catchEevee{
  background: #4f7040;
  background: linear-gradient(0deg, rgba(79, 112, 64, 1) 0%, rgba(71, 129, 48, 1) 39%, rgba(72, 144, 40, 1) 60%, rgba(88, 175, 40, 1) 100%);
  position: absolute;
  border: .1em solid #303030;
  box-shadow: inset .1em .1em 0em #fff,
              inset -.1em .1em 0em #fff,
              inset .1em -.1em 0em #fff,
              inset -.1em -.1em 0em #fff,
              inset .15em .15em 0em #434343cc,
              inset -.15em .15em 0em #434343cc,
              inset .15em -.15em 0em #434343cc,
              inset -.15em -.15em 0em #434343cc;
  width: 8em;
  height: 4em;
  cursor: pointer;
  border-radius: 1.5em;
  font-family: pokemon, sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #40413C, -1px -1px 0px #40413C, -1px 1px 0px #40413C, 1px -1px 0px #40413C;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.schermOnder .catchEevee:hover, section.schermOnder .catchEevee:focus{ 
  border:#4f7040 .2em solid;
  background: #8cb878;
  outline: none;
}

section.schermOnder .menuButtons{
  display: none;
}

section.schermOnder button.buttonLinksOnder {
  background: rgb(139, 103, 54);
  background: linear-gradient(0deg, rgba(139, 103, 54, 1) 0%, rgba(169, 119, 47, 1) 33%, rgba(201, 134, 38, 1) 63%, rgba(225, 152, 40, 1) 100%);
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}

section.schermOnder button.buttonLinksOnder:hover, section.schermOnder button.buttonLinksOnder:focus{ 
border:#e19828 .2em solid;
background: #ffd28f;
outline: none;
}

section.schermOnder button.buttonRechtsOnder {
  background: #415870;
  background: linear-gradient(0deg, rgba(65, 88, 112, 1) 0%, rgba(56, 104, 136, 1) 33%, rgba(46, 121, 166, 1) 63%, rgba(40, 145, 201, 1) 100%);
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%);
}

section.schermOnder button.buttonRechtsOnder:hover, section.schermOnder button.buttonRechtsOnder:focus{
  border:#415870 .2em solid;
  background: #84a3c3;
  outline: none;
}

section.placesToTrain button {
  position: absolute;
  border: .1em solid #303030;
  box-shadow: inset .1em .1em 0em #fff,
  inset -.1em .1em 0em #fff,
  inset .1em -.1em 0em #fff,
  inset -.1em -.1em 0em #fff,
  inset .15em .15em 0em #434343cc,
  inset -.15em .15em 0em #434343cc,
  inset .15em -.15em 0em #434343cc,
  inset -.15em -.15em 0em #434343cc;
  width: 8em;
  height: 4em;
  cursor: pointer;
  border-radius: 1.5em;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #40413C, -1px -1px 0px #40413C, -1px 1px 0px #40413C, 1px -1px 0px #40413C;
}

section.placesToTrain {
  display: none;
}

section.placesToTrain button.snow {
  background-image: url('../images/snow.png');
  background-size: cover;
  top: 15%;
  left: 20%;
  transform: translate(-20%, -15%);
}

section.placesToTrain button.snow:hover, section.placesToTrain button.snow:focus {
  outline: none;
  border: solid .2em #3fbfff;
}

section.placesToTrain button.moss {
  background-image: url('../images/moss.png');
  background-size: cover;
  top: 15%;
  left: 80%;
  transform: translate(-80%, -15%);
}

section.placesToTrain button.moss:hover,
section.placesToTrain button.moss:focus {
  outline: none;
  border: solid .2em #278a32;
}

section.placesToTrain button.night {
  background-image: url('../images/night.png');
  background-size: cover;
  top: 50%;
  left: 20%;
  transform: translate(-20%, -50%);
}

section.placesToTrain button.night:hover,
section.placesToTrain button.night:focus {
  outline: none;
  border: solid .2em #5f2a6c;
}

section.placesToTrain button.day {
  background-image: url('../images/day.png');
  background-size: cover;
  top: 50%;
  left: 80%;
  transform: translate(-80%, -50%);
}

section.placesToTrain button.day:hover,
section.placesToTrain button.day:focus {
  outline: none;
  border: solid .2em #ffef3f;
}

section.placesToTrain button.fairy {
  background-image: url('../images/fairy.png');
  background-size: cover;
  top: 85%;
  left: 20%;
  transform: translate(-20%, -85%);
}

section.placesToTrain button.fairy:hover,
section.placesToTrain button.fairy:focus {
  outline: none;
  border: solid .2em #ff3fc9;
}

section.placesToTrain button.info{
  width: 20%;
  border-radius: 50%;
  top: 85%;
  left: 75%;
  transform: translate(-75%, -85%);
  color: white;
  font-family: pokemon, sans-serif;
  font-weight: 600;
  background: #4f7040;
  background: linear-gradient(0deg, rgba(79, 112, 64, 1) 0%, rgba(71, 129, 48, 1) 39%, rgba(72, 144, 40, 1) 60%, rgba(88, 175, 40, 1) 100%);
}

section.placesToTrain button.info:hover, section.placesToTrain button.info:focus{
  border:#4f7040 .2em solid;
  background: #8cb878;
  outline: none;
}

.backgroundDonker{
  z-index: 5;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #000;
  opacity: 0.7;
  display: none;
  transform: scale(5);
}

.placesToTrain.tutorial button:not(:nth-last-of-type(1)){
  z-index: 10;
}

.placesToTrain p {
  font-family: pokemon, sans-serif;
  opacity: 0;
  pointer-events: none;
  color: #fff;
  z-index: 11;
  position: absolute;
  text-align: center;
  width: 155px;
  border: .15em solid;
  border-radius: 1.5em;
  padding: .5em;
  box-shadow: inset .1em .1em 0em #fff,
    inset -.1em .1em 0em #fff,
    inset .1em -.1em 0em #fff,
    inset -.1em -.1em 0em #fff,
    inset .15em .15em 0em #434343cc,
    inset -.15em .15em 0em #434343cc,
    inset .15em -.15em 0em #434343cc,
    inset -.15em -.15em 0em #434343cc;
}

.placesToTrain p.zichtbaar{
  opacity: 1;
}

.placesToTrain p:nth-of-type(1) {
  left: 0%;
  top: 0%;
  transform: translate(-100%, -105%);
  border-color: #3fbfff;
}

.placesToTrain p:nth-of-type(1)::before{
  content: '';
  width: 43%;
  height: .2em;
  background-color: #3fbfff;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(90%, 300%) rotate(30deg);
}

.placesToTrain p:nth-of-type(2) {
  left: 100%;
  top: 0%;
  transform: translate(0%, -100%);
  border-color: #278a32;
}

.placesToTrain p:nth-of-type(2)::before{
  content: '';
  width: 40%;
  height: .2em;
  background-color: #278a32;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-90%, 200%) rotate(-30deg);
}

.placesToTrain p:nth-of-type(3) {
  left: 0%;
  top: 50%;
  transform: translate(-100%, -70%);
  border-color: #5f2a6c;
}

.placesToTrain p:nth-of-type(3)::before{
  content: '';
  width: 28%;
  height: .2em;
  background-color: #5f2a6c;
  position: absolute;
  top: 60%;
  right: 0;
  transform: translate(103%, 0%);
}

.placesToTrain p:nth-of-type(4) {
  left: 100%;
  top: 50%;
  transform: translate(0%, -65%);
  border-color: #ffef3f;
}

.placesToTrain p:nth-of-type(4)::before{
  content: '';
  width: 28%;
  height: .2em;
  background-color: #ffef3f;
  position: absolute;
  top: 55%;
  left: 0;
  transform: translate(-103%, 0%);
}

.placesToTrain p:nth-of-type(5) {
  left: 0%;
  top: 100%;
  transform: translate(-100%, -40%);
  border-color: #ff3fc9;
}

.placesToTrain p:nth-of-type(5)::before{
  content: '';
  width: 34%;
  height: .2em;
  background-color: #ff3fc9;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(96%, 450%) rotate(-30deg);
}

section.schermOnder button.restart {
  background: rgb(112, 64, 64);
  background: linear-gradient(0deg, rgba(112, 64, 64, 1) 0%, rgba(129, 48, 48, 1) 39%, rgba(144, 40, 40, 1) 60%, rgba(175, 40, 40, 1) 100%);
  position: absolute;
  border: .1em solid #303030;
  box-shadow: inset .1em .1em 0em #fff,
    inset -.1em .1em 0em #fff,
    inset .1em -.1em 0em #fff,
    inset -.1em -.1em 0em #fff,
    inset .15em .15em 0em #434343cc,
    inset -.15em .15em 0em #434343cc,
    inset .15em -.15em 0em #434343cc,
    inset -.15em -.15em 0em #434343cc;
  width: 8em;
  height: 4em;
  cursor: pointer;
  border-radius: 1.5em;
  font-family: pokemon, sans-serif;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #40413C, -1px -1px 0px #40413C, -1px 1px 0px #40413C, 1px -1px 0px #40413C;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

section.schermOnder button.restart:hover, section.schermOnder button.restart:focus{
  border:rgba(175, 40, 40, 1) .2em solid;
  background: #F8A9B1;
  outline: none;
}





/***********/
/* Knoppen */
/***********/






section.knoppenLinks{
  flex: .6;
  position: relative;
  }

section.knoppenLinks button.cirkel{
  position: absolute;
  top: 17%;
  background-color: #656565;
  border: none;
  box-shadow: inset -0.05em .05em .1em #818181,
              inset .1em -.1em .7em #4a4c4d,
              .1em -.1em 0.05em #818181,
              -.1em .1em 0.05em #4a4c4d,
              .1em .1em 0.05em #818181,
              -.1em -.1em 0.05em #4a4c4d;              
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  left: 18%;
  transform-style: preserve-3d;
}

section.knoppenLinks button.cirkel::before{
  content: '';
  position: absolute;
  width: 150%;
  height: 150%;
  background-color: none;
  border: .2em solid #25252580;
  border-radius: 50%;
  left: calc(50% + .05em);
  top: 50%;
  transform: translate(-50%, -50%) translateZ(-1px);
}

section.knoppenLinks button.arrowkeys1{
  position: absolute;
  top: 57.5%;
  background-color: #353535;
  border: none;
  border-radius: 0.3em;
  width: 5em;
  height: 1.7em;
  left: 9%;
}

section.knoppenLinks button.arrowkeys1::before{
  content: '';
  width: 18%;
  height: 10%;
  background-color: #797979;
  position: absolute;
  right: 0.3em;
  transform: translateY(-50%);
}

section.knoppenLinks button.arrowkeys1::after{
  content: '';
  width: 18%;
  height: 10%;
  background-color: #797979;
  position: absolute;
  left: 0.3em;
  transform: translateY(-50%);
}

section.knoppenLinks button.arrowkeys2{
  position: absolute;
  top: 50%;
  background-color: #353535;
  border: none;
  border-radius: 0.3em;
  width: 1.7em;
  height: 5em;
  left: 31%;
}

section.knoppenLinks button.arrowkeys2::before{
  content: '';
  width: 10%;
  height: 17%;
  background-color: #797979;
  position: absolute;
  bottom: 0.3em;
  transform: translateX(-50%);
}

section.knoppenLinks button.arrowkeys2::after{
  content: '';
  width: 10%;
  height: 17%;
  background-color: #797979;
  position: absolute;
  top: 0.3em;
  transform: translateX(-50%);
}

section.knoppenRechts{
  flex: .6;
  position: relative;
}

section.knoppenRechts section.mainButtons button{
  position: absolute;
  border: none;
  width: 1.7em;
  height: 1.7em;
  text-align: center;
  border-radius: 50%;
  background-color: #353535;
  color: #797979;
  font-weight: 600;
  border: 0.08em #25252540 solid;
  box-shadow: inset -.1em .1em 0.2em #7a7a7acc,
              -.05em .05em 0.05em #252525;  
}

section.knoppenRechts section.mainButtons button.x{
  left: 46%;
  top: 20%;
}

section.knoppenRechts section.mainButtons button.a{
  left: 71%;
  top: 30%;
}

section.knoppenRechts section.mainButtons button.b{
  left: 46%;
  top: 40%;
}

section.knoppenRechts section.mainButtons button.y{
  left: 22%;
  top: 30%;
}

